* {
   font-family: "IosevkaNerdFont", monospace;
   font-size: 17px;
}

window {
   background-color: transparent; /* cachydgreen */
}

#input {
   padding: 10px;
   margin-bottom: 15px;
   border-radius: 5px;
   border: none;
   background-color: #303030; /* cachydgreen */
   color: #ffffffff; /* cachywhite */
}

#inner-box {
   background-color: #303030; /* cachydblue */
}

#outer-box {
   margin: 0px;
   padding: 0px;
   background-color: transparent; /* cachydblue */
}

#scroll {
}

#text {
   padding: 8px;
   color: #ffffffff; /* cachywhite */
}

/*
#entry:nth-child(even){
background-color: #222222; /* cachymblue */
}
*/

#entry:selected {
   background-color: #404040; /* cachymgreen */
}

#text:selected {
   background: transparent;
}
